<!-- <app-personalinformation></app-personalinformation> -->
<div>
        <a routerLink="test">test</a>
    <div class="row" style="padding: 5px">
        <div class="col-xs-12">    
                <a routerLink="../button">ersonal Information</a>
            <button class="btn btn-primary"></button>     
        </div>
    </div>
    <div class="row" style="padding: 5px">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="GoToButton()">Button</button>
        </div>
    </div>
    <div class="row" style="padding: 5px">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="GoToSlider()">Slider</button>
        </div>
    </div>
</div>